<!DOCTYPE html>
<html>
<head>
  <title>CurrenciesWithViews</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-auto bg-info border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto .img-fluid max-width: 100% height: 50% ">
      <%= link_to (image_pack_tag "media/images/logo.png"), root_path %>
    </h5>
      <div class="d-flex flex-column flex-md-row align-items-center">
        <button type="button" class="btn btn-light px-0 py-0 mx-0 my-0 border-0" data-toggle="button" aria-pressed="false" autocomplete="off">
          <%= link_to 'Загрузить валюты', load_currencies_path, method: :post, class: 'btn btn-outline-primary' %>
        </button>
        <button type="button" class="btn btn-light px-0 py-0 mx-0 my-0 border-0" data-toggle="button" aria-pressed="false" autocomplete="off">
          <%= link_to 'Обновить валюты', update_rates_currencies_path, method: :post, class: 'btn btn-outline-primary' %>
        </button>
      </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
